.book{
    border: 1px solid red;
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 600px;
}

h3{
    color: #0088CC;
    text-align: center;
    font-style: italic;
}

h2{
    color: #002a80;
    text-align: center;
    font-weight: bold;

}