{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

   <div>
       <h5>{{ reader.fullName }}</h5>

       <h5>Ваш читательский билет:</h5>
       <h4>{{ reader.libraryCard }}</h4>
       <h7>Скопируйте уникальный номер читательского билета и сохраните в файл для дальнейшего использования</h7>
   </div>
{% endblock %}