{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <button><a href="{{ path('app_basic_register') }}">Получить читательский билет</a> </button>
    <h2>Все книги:</h2>
    <div class="container">


        {% for book in books %}
            <div class="book">
                <img style="width: 300px" src="{{ vich_uploader_asset(book, 'imageFile') }}">
                <h3>{{ book.name }}</h3>
                <h4>{{ book.author }}</h4>
                <button><a href="">Получить</a> </button>
             </div>
        {% endfor %}
    </div>
{% endblock %}