{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Для подлучения читательского билета заполните форму:</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
